@import url("page_styles/pagestyles.css");

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .pic,
  .pic1,
  .pic2,
  .pic3,
  .pic4,
  .pic5,
  .pic6 {
    height: 400px;
  }
}

/*large screen*/
@media (min-width: 1101px) {
  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
      "hd hd"
      "pic content";
  }
}

/*Mobile devices*/
@media (min-width: 320px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .pic,
  .pic1,
  .pic2,
  .pic3,
  .pic4,
  .pic5,
  .pic6 {
    height: 200px;
  }
}
